

h1 {
  font-size: 0.658rem;
  font-weight: normal;
}
.encabezado {
  font-size: 3rem;
  text-align: center;
  margin-top: 5rem;
}
.basket {
  padding: 0 1rem;
  width: 70%;
  margin-top: 5rem;
  margin-left: 5rem;
}
.ul {
  list-style: none;
  margin: 0;
  padding: 0;
  border-top: rgb(155, 155, 155) 1px solid;
}

li {
  color: rgb(7, 7, 7);
  display: inline-block;
  padding: 0.625rem 0;
}

.item {
  width: 55%;
}

.price,
.quantity,
.subtotal {
  width: 15%;
}
.price_modifier{
  position: relative;
  top: -10rem;
  left: -11rem;
  bottom: 5rem;
}
.quantity_modifier{
  position: relative;
  bottom: 5rem;
  top: -10rem;
  left: -3rem;
}
.subtotal {
  text-align: right;
}

.remove {
  position: absolute;
  right: 0;
  bottom: 80%;
  padding: 5px;
  border: none;
  cursor: pointer;
  background: #e60707;
}

.trash {
  font-size: 1.2rem;
  color: #fff;
}
.btn-compra{
  position: relative;
  left: -60%;
  top: 1.8rem;
  background-color: #ad9a3b;
  color: rgb(208, 211, 212);
  border: none;
  cursor: pointer;
  padding: 7px;
}

.clear-cart {
  position: relative;
  left: 60%;
  color: rgb(208, 211, 212);
  background-color: #ad9a3b;
  border: none;
  padding: 7px;
  cursor: pointer;
}
.item-heading {
  padding-left: 6rem;
  font-weight: 900;
}

.basket-product {
  padding: 1rem 0;
  position: relative;
}
.product-name{
  position: relative;
  top: -8rem;
  left: -15rem;
}
.product-details {
  width: 65%;
  padding: 0 3rem;
  position: relative;
  left: 60%;
  bottom: 15rem;
}
.move_price{
  display: flex;
  justify-content: flex-end;
  width: 600px;
}
aside {
  display: flex;
  justify-content: space-around;
}
.summary {
  width: 500px;
  border: 1px solid rgb(172, 172, 172);
  padding: 1rem;
  box-sizing: border-box;
  margin-top: 2rem;
  border-radius: 5px;
}
.summary-total-items {
  color: #666;
  font-size: 0.875rem;
  text-align: center;
}
.subtotal-value,
.total-value {
  text-align: right;
}
