.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8rem;
}

.window {
  background: #fff;
  width: 470px;
  display: flex;
  min-height: 450px;
  position: relative;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
}
.options {
  display: flex;
  margin-top: 25px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.options p span {
  padding: 15px;
  font-size: 1.5rem;
}
.main-content {
  padding: 50px 46px 25px 20px;
  box-sizing: border-box;
  display: flex;
  color: #222;
  width: 100%;
  height: 100%;
  flex-flow: column;
}

h1 {
  letter-spacing: 0px;
  letter-spacing: 0.02rem;
  font-size: 48px;
  font-size: 3rem;
}

.description {
  margin-top: 20px;
  width: 100%;
}

/* button {
  border: none;
  height: 40px;
  margin-top: auto;
  padding-left: 25px;
  padding-right: 25px;
  color: #fff;
  cursor: pointer;
  background: #183b37;
} */
.options-cantidad {
  padding: 15px;
}
.divider {
  width: 80%;
  height: 1px;
  background: #ddd;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

.purchase-info {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  display: flex;
}
.prices {
  font-size: 40px;
  font-size: 2.5rem;
}
.history {
  margin-top: 5px;
  margin-left: 65%;
}
@media (max-width: 850px) {
  body {
    background: #fff;
    overflow: auto;
  }
  h1 {
    font-size: 2rem;
  }
  h3,
  h2 {
    font-size: 1rem;
  }
  .container {
    height: auto;
    background: #fff;
    overflow: auto;
  }
  .background-element {
    display: none;
  }
  .main-content {
    overflow: auto;
    height: auto;
    padding-right: 25px;
  }
  .options {
    -webkit-flex-flow: column;
    -ms-flex-flow: column;
    flex-flow: column;
  }
  .window {
    overflow: auto;
    width: 50%;
    height: auto;
    position: absolute;
    box-shadow: none;
  }
  .price {
    margin-bottom: 15px;
  }
  .button {
    width: 100%;
  }
  .color-options {
    margin-bottom: 15px;
  }
  .align-right {
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
  }
  .purchase-info {
    -webkit-flex-flow: column;
    -ms-flex-flow: column;
    flex-flow: column;
  }
}

@media (max-width: 550px) {
  .highlight-window {
    display: none;
  }
  body {
    overflow: auto;
    height: auto;
  }
  .highlight-window.mobile {
    position: relative;
    display: block;
    height: 500px;
    box-shadow: none;
    border: 1px solid #ccc;
    margin-top: 15px;
    width: 100%;
  }
  .container {
    overflow: auto;
  }
  .window {
    width: 100%;
    position: relative;
    height: 100%;
    overflow: auto;
  }
}
